<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mogujie.service.tsharding.mapper.ShopOrderMapper">


    <!-- 店铺级订单更新字段，显式指定参数名称 -->
    <sql id="Base_Update_Column_List_Param">
        <set>
            <if test="shopOrder.shipTime!=null">
                shipTime=#{shopOrder.shipTime},
            </if>
        </set>
    </sql>

    <sql id="Base_Column_List">
    	id,
        orderId,
        buyerUserId,
        sellerUserId,
        shipTime
    </sql>


    <select id="getShopOrderByShopOrderId" resultType="com.mogujie.service.tsharding.bean.ShopOrder">
        SELECT
        <include refid="Base_Column_List"/>
        FROM
      	tradeorder
        WHERE
        orderId = #{orderId}
        limit 1
    </select>

    <select id="getShopOrderByShopOrderIds" resultType="com.mogujie.service.tsharding.bean.ShopOrder">
        SELECT
        <include refid="Base_Column_List"/>
        FROM
        tradeorder
        WHERE orderId IN
        <foreach item="shopOrderId" index="index" collection="list" open="(" separator="," close=")">
            #{shopOrderId}
        </foreach>
        limit 500
    </select>

    <!-- 批量根据店铺级订单ID更新店铺级订单 -->
    <update id="batchUpdateShopOrderByShopOrderIds" useGeneratedKeys="true" keyProperty="orderId" >
        UPDATE tradeorder
        <include refid="Base_Update_Column_List_Param"/>
        where orderId in
        <foreach item="shopOrderId" index="index" collection="shopOrderIds" open="(" separator="," close=")">
            #{shopOrderId}
        </foreach>
        limit 500
    </update>
	<!-- test使用 -->
	<select id="getShopOrder" resultType="com.mogujie.service.tsharding.bean.ShopOrder">
		 SELECT
        <include refid="Base_Column_List"/>
        FROM
         tradeorder
        WHERE orderId =#{id} LIMIT 1
        <!-- 注意这里必须是#{xx} ，如果是${xx}  则不会分表，但可以分库 -->
	</select>
	<insert id="insertOrder" parameterType="com.mogujie.service.tsharding.bean.ShopOrder" keyProperty="id" useGeneratedKeys="true" >
		<![CDATA[
		insert into tradeorder(orderId,buyerUserId,sellerUserId,shipTime)
		VALUES(#{order.orderId},#{order.buyerUserId},#{order.sellerUserId},#{order.shipTime});
		]]>
	 </insert>
	 <delete id="deleteByOrderId" parameterType="long">
	 	DELETE FROM tradeorder WHERE orderId=#{orderId}
	 </delete>
</mapper>